*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background-color: #ccc;
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.otpform{
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #0000003d;
    gap: 20px;
    position: relative;
}
.otp-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.otpInput{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    background-color: #e4e4e4;
    transition: 0.6 ease;
    outline: none;
}
.otpInput:focus{
    background-color: #7f81ff33;

}
#verifyBtn, .submit{
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: #1877f2;
    font-size: 15px;
    color: white;
    transition: 0.5s ease;
}
#verifyBtn:hover{
    background-color: #1877f2da;
}
#resendOtp{
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: transparent;
    color: #1877f2;
    font-size: 17px;
     
}
#exiBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: #fff;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 9px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #0000003d;
}